<div class="container">
    <div class="row">
      <div class="col-sm-2">
        
      </div>
      <div class="col-sm-8">
        <div *ngIf="mostrar, else elseBlock">
        <div class="card" *ngFor="let personas of persona">
          <img class="card-img-top" src={{personas.imagen}} alt="Card image">
            <div class="card-body">
              <h3 class="card.tittle">{{personas.nombre}}</h3>
              <p class="card-text">{{personas.ubicacion}}
            </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">No hay registros!</h3>
          </div>
        </div>
      </ng-template>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>